<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1049498892745-58i0mlb8jruc0p63vnjd3ttnqog7ilks.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1049498892745-58i0mlb8jruc0p63vnjd3ttnqog7ilks</string>
	<key>API_KEY</key>
	<string>AIzaSyAUzG0B61pdEraWQ5gnbFm2sYi5HhXbTzY</string>
	<key>GCM_SENDER_ID</key>
	<string>1049498892745</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>freecode.pythonanywhere.www.FirebaseUserAuth</string>
	<key>PROJECT_ID</key>
	<string>fir-userauth-d0ad6</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-userauth-d0ad6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1049498892745:ios:e95cb78a9ae1dbf1cd9018</string>
</dict>
</plist>